
/* ---------- layout ---------- */



/* ---------- font size ---------- */
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $size in $font-sizes {
            .fz#{$infix}-#{$prop} { font-size: $size !important; }
        }
    }
}


/* ---------- color ---------- */



/* ---------- background ---------- */



/* ---------- display ---------- */



/* ---------- others ---------- */
.mobile-only {
    display: none !important;
    @include mobile {
        display: initial !important;
    }
}

.pc-pad-only {
    @include mobile {
        display: none !important;
    }
}

.pc-only {
    @include pad {
        display: none !important;
    }
}

.lh-15 {
    line-height: 1.5 !important;
}

.filter__brightness--dark{
    filter: brightness(0.7);
}