// $color-main-dark: #650300;
// $color-main: #AA0601;
// $color-main-light: #AA06010D;
// $color-main-light: #FBF2F2;

// $color-white: #fff;
// $color-grey: #707070;
// $color-lightGrey: #DCDCDC;
// $color-dark: #212529;
// $color-darker: #111619;
// $color-black: #000;
// $color-brown: #5F3E2D;
// $color-orange: #B75929;

$font-sizes: () !default;
$font-sizes: map-merge(
  (        
    "5xl": 40px,
    "4xl": 36px,
    "3xl": 32px,
    "xxl": 28px,
    "xl":  24px,
    "l":   20px,
    "m":   18px,
    "s":   16px,
    "xs":  14px,
    "xxs": 12px,
    "inherit": inherit,
    "40": 40px,
    "36": 36px,
    "32": 32px,
    "28": 28px,
    "24":  24px,
    "20":   20px,
    "18":   18px,
    "16":   16px,
    "14":  14px,
    "12": 12px,
  ),
  $font-sizes
);
// 14 16 20 24 28 32 40

$fw-black: 900; 
$fw-bold: 700; 
$fw-medium: 500; 
$fw-regular: 400;
$fw-light: 300;


/* ---------- layout ---------- */
// $container: 1110px;
// $gutter: 30px;


/* ---------- distance ---------- */
$distance: 4px;
@function distance($i) {
    @return $distance * $i;
}
// Example: margin: distance(10); -> 40px