.navbar {
  height: 56px;
  .navbar-toggler-icon {
    background-image: url(../images/icon/bars.svg);
  }
  .navbar-toggler {
    padding-left: 28px;
    padding-right: 0;
  }
  .badge {
    $diameter: 18px;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: $diameter;
    height: $diameter;
    line-height: $diameter;
    padding: 0;
  }
}

h1 {
  background-image: url(../images/d’Perfume.png);
  width: 129px;
  height: 38px;
}