<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    /* Material Icons     */
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
          url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
          url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
      }

  </style>
  <link rel="stylesheet" href="./assets/style/style.css">
</head>

<body>
  <header class="header container">
    <nav class="navbar navbar-expand-lg text-secondary p-0 fz-l">
      <h1 class="navbar-brand mr-auto ext-bgi ext-text-hide" href="#">
        香水電商
      </h1>
      <a class="d-md-none text-reset p-0 position-relative" href="#">
        <span class="material-icons align-middle fz-inherit mb-1 mr-1">shopping_cart</span>
        <span class="badge badge-primary fz-xxs position-absolute">3</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-reset p-0 ml-8 active" href="#">
            <span class="material-icons align-middle fz-inherit mb-1 mr-1">store</span>Product <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link text-reset p-0 ml-8" href="#">
            <span class="material-icons align-middle fz-inherit mb-1 mr-1">person</span>Log in
          </a>
          <a class="nav-item nav-link text-reset p-0 ml-8" href="#">
            <span class="material-icons align-middle fz-inherit mb-1 mr-1">favorite</span>Wishlist
          </a>
          <a class="nav-item nav-link text-reset p-0 ml-8" href="#">
            <span class="material-icons align-middle fz-inherit mb-1 mr-1">shopping_cart</span>Cart(3)
          </a>
        </div>
      </div>
    </nav>
  </header>

  <%- contents %>

  <div class="subscribe jumbotron jumbotron-fluid mb-0 ext-bgi" style="background-image: url(assets/images/index10.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-md-4 col-12">
          <p class="fz-3xl text-secondary font-weight-bolder mb-5 mb-md-4">記得<br>訂閱以獲取更多資訊！</p>
          <div class="input-group">
            <input type="text" class="form-control border-primary h-auto pl-4" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer bg-primary d-flex align-items-center">
    <div class="container">
      <nav class="navbar navbar-expand-lg text-white p-0 fz-l">
        <a class="navbar-brand mr-auto" href="#">
          <img src="assets/images/d’Perfume@2x.png" width="128" height="38" class="logo d-inline-block align-top" alt="香水電商 LOGO">
        </a>
        <span class="navbar-text ml-5 fz-xs">
          © 2020. All Rights Reserved.
        </span>
        <div class="collapse navbar-collapse justify-content-end">
          <div class="navbar-nav">
            <a class="nav-item nav-link text-reset p-0 ml-9" href="#">
              Product
            </a>
            <a class="nav-item nav-link text-reset p-0 ml-9" href="#">
              Blog
            </a>
            <a class="nav-item nav-link text-reset p-0 ml-9" href="#">
              Contact
            </a>
          </div>
        </div>
      </nav>
    </div>
  </footer>
  <!-- <script src="./assets/js/vendors.js"></script> -->
  <!-- <script src="./assets/js/all.js"></script> -->
</body>

</html>
